<div class="container">
<h1>Welcome to Meu Diário Online!</h1><br/>
<%= form_for :session, url: sign_in_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
   
    
  </div>
    <div class="button">
  <%# criamos tambem um botao para enviar esses dados para o banco de dados %>
    <%= f.submit "Entrar" %>
    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>

<% end %>
</div>